@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.word {
  width: 100vw;
  height: 100vh;
  background: url('https://picsum.photos/1920/1024?random=1') no-repeat center / cover,
    radial-gradient(circle, rgb(131 58 180) 0%, rgb(253 29 29) 50%, rgb(252 176 69) 100%) no-repeat
      center / cover;
  background-blend-mode: difference;
  clip-path: url(#clip);
}

.svg {
  background-image: url('data:image/svg+xml,\
    <svg t="1709991319824" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1522" width="200" height="200">\
    <path d="M607.860021 191.971879c52.992237 0 95.98594-42.993702 95.98594-95.985939S660.852259 0 607.860021 0s-95.98594 42.993702-95.985939 95.98594 42.993702 95.98594 95.985939 95.985939z m188.972319 298.156325l-46.593175-23.596544-19.397159-58.791388c-29.395694-89.186936-111.383684-151.577796-204.370062-151.777767-71.989455-0.199971-111.783625 20.197041-186.572671 50.392619-43.193673 17.397452-78.588488 50.392618-99.385441 92.386467L227.115795 425.937607c-15.597715 31.595372-2.999561 69.989748 28.39584 85.787433 31.19543 15.797686 69.189865 2.999561 84.987551-28.595811L353.897223 455.933213c6.998975-13.99795 18.597276-24.996338 32.995167-30.795489l53.592149-21.596836-30.395547 121.382219c-10.398477 41.593907 0.799883 85.787433 29.795635 117.582776l119.782454 130.780843c14.397891 15.797686 24.596397 34.794903 29.795635 55.391886l36.59464 146.578528c8.59874 34.194991 43.393644 55.191915 77.588634 46.593175 34.194991-8.59874 55.191915-43.393644 46.593175-77.588635l-44.393497-177.973929c-5.199238-20.596983-15.397744-39.794171-29.795635-55.391886l-90.986672-99.385442 34.394961-137.379876 10.998389 32.995167c10.598447 32.195284 33.395108 58.791388 63.390715 73.989162l46.593174 23.596543c31.19543 15.797686 69.189865 2.999561 84.987551-28.595811 15.397744-31.395401 2.79959-70.189718-28.595811-85.987404zM339.099391 771.486989c-6.399063 16.197627-15.997657 30.795489-28.395841 42.993702l-99.985354 100.185325c-24.996338 24.996338-24.996338 65.590392 0 90.58673s65.390421 24.996338 90.38676 0l118.7826-118.7826c12.198213-12.198213 21.796807-26.796075 28.395841-42.993702l26.996045-67.590099c-110.583801-120.582337-77.388664-83.587756-94.786115-107.38427l-41.393936 102.984914z" fill="lime" p-id="1523" />\
    </svg>');
}

@layer demo {
  .text {
    display: block;
    width: 40vw;
    outline: 1px dashed #fff;
    height: auto;
    --overflow: visible;
    overflow: var(--overflow);

    text {
      font-family: 'Leckerli One', cursive;
      font-size: 4rem;
    }
  }
}

.helloworld-app {
  display: flex;
  width: 100%;
  padding: 0;
  font-family: sans-serif;

  .app-content {
    flex: 1;
    height: 280px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 5px;
    box-shadow: 0 12px 5px -10px rgb(0 0 0 / 10%), 0 0 4px 0 rgb(0 0 0 / 10%);
  }
}
